<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>Label</key>
        <string>local.homebrew-update</string>
        <key>ProgramArguments</key>
        <array>
            <string>/Users/johnflavin/repos/flavin-tools/homebrew-update.sh</string>
        </array>
        <key>EnvironmentVariables</key>
        <dict>
            <key>HOMEBREW_NO_ENV_HINTS</key>
            <string>1</string>
            <key>NONINTERACTIVE</key>
            <string>1</string>
            <key>SUDO_ASKPASS</key>
            <string>/Users/johnflavin/repos/flavin-tools/pw.sh</string>
        </dict>
        <key>StartCalendarInterval</key>
        <dict>
            <key>Minute</key>
            <integer>0</integer>
        </dict>
        <key>StandardOutPath</key>
        <string>/Users/johnflavin/Library/Logs/Homebrew/homebrew-update.log</string>
        <key>StandardErrorPath</key>
        <string>/Users/johnflavin/Library/Logs/Homebrew/homebrew-update.err</string>
        <key>LowPriorityBackgroundIO</key>
        <true/>
        <key>LowPriorityIO</key>
        <true/>
        <key>ProcessType</key>
        <string>Background</string>
    </dict>
</plist>
